/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Custom font here*/
@font-face {
    font-family: 'My Custom Font';
    src: url('./fonts/Norse-Bold.otf') format('opentype');
    /* you can also include other font formats for cross-browser compatibility */
  }


/*style starts from here */
.main {
    display: flex;
    flex-direction: row;
}


.firstCol {
    position: relative;
    flex-direction: column;
    background-image: url(./img/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 50vw;
}
.logo {
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 100%;
    position: relative;
    top: 20vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    font-family: 'My Custom Font', sans-serif;

}

.logo > p {
    font-size: 100px;
    color: aliceblue;
}

.odinLogo {
    max-height: 100%;
    width: auto;
}

.secondCol {
    width: 100vw;
    flex-direction: column;
}

.idom {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: #FBFCF8;
    padding-left: 2vw;
    padding-right: 5vw;
    font-size: 30px;
    font-weight: 800;
}

.forms {
    height: 30vh;
}

.footNote {
    height: 40vh;
}
